<!-- API data prints here -->
<div class="absolute text-center">
    <h1 class="text-4xl text-white font-medium">{{ countryId }}</h1>
    <table class="table-auto text-center absolute mt-8">
        <thead class="text-white text-lg whitespace-nowrap">
            <tr>
                <th scope="col" class="px-3">
                    Capital:
                </th>
                    <td>
                        {{ countryCapital }}
                    </td>
            </tr>
            <tr>
                <th scope="col" class="px-3">
                    Region:
                </th>
                    <td>
                        {{ countryRegion }}
                    </td>
            </tr>
            <tr>
                <th scope="col" class="px-3">
                    Income Level:
                </th>
                    <td>
                        {{ countryIncomeLevel }}
                    </td>
            </tr>
            <tr>
                <th scope="col" class="px-3">
                    Latitude:
                </th>
                    <td>
                        {{ latitude }}
                    </td>
            </tr>
            <tr>
                <th scope="col" class="px-3">
                    Longitude:
                </th>
                    <td>
                        {{ longitude }}
                    </td>
            </tr> 
        </thead>   
    </table>
    
</div>
